<div class="wrapper">
  <div class="container">

    <% if user_signed_in? %>

      <div class="flex padding-vertical-large">
        <aside class="sidebar">
          <ul>
            <% if @subscribing.any? %>
              <% @subscribing.each do |user| %>
                <li class="inactive-sidebar-tab"><%= link_to user.profile.display_name.presence || user.username, user_path(user) %>
              <% end %>
            <% else %>
              <div>
                You are not subscribed to anyone... yet. Here are some people you might like.
              </div>
              <% @users.each do |user| %>
                <%= link_to user_path(user) do %>
                  <li class="inactive-sidebar-tab"><%= user.profile.display_name.presence || user.username %>
                  <% end %>
              <% end %>
            <% end %>
          </ul>
        </aside>

        <main class="video-content">
          <% if @subscriptions.any? %>
            <% @subscriptions.each do |video| %>
              <div class="video-border">
                <div class="flex">
                  <div class="twenty-four">

                    <%= link_to user_video_path(video.user, video) do %>
                      <img class="thumbnail-image-feed-four" src="<%= video.image_url(:thumb) %>">
                    <% end %>
                    
                  </div>

                  <div class="seventy-five">

                    <div class="padding-horizontal-mini padding-vertical-mini">
                      <div class="mid-text">
                        <%= link_to truncate(video.title, length: 50), user_video_path(video.user, video) %>
                      </div>

                      <div class="mini-text">
                        <%= video.user.profile.display_name.presence || video.user.username %> posted <%= remove_unwanted_words time_ago_in_words(video.created_at) %> ago
                      </div>

                      <div>
                        <%= truncate(video.description, length: 113) %>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div>
              You are not subscribed to anyone... yet, but here are some awesome videos for you to watch.
            </div>
            
            <% @videos.each do |video| %>
              <div class="video-border">
                <div class="flex">
                  <div class="twenty-four">

                    <%= link_to user_video_path(video.user, video) do %>
                      <img class="thumbnail-image-feed-four" src="<%= video.image_url(:thumb) %>">
                    <% end %>

                  </div>

                  <div class="seventy-five">

                    <div class="padding-horizontal-mini padding-vertical-mini">
                      <div class="mid-text">
                        <%= link_to truncate(video.title, length: 50), user_video_path(video.user, video) %>
                      </div>

                      <div class="mini-text">
                        <%= video.user.profile.display_name.presence || video.user.username %> posted <%= remove_unwanted_words time_ago_in_words(video.created_at) %> ago
                      </div>

                      <div>
                        <%= truncate(video.description, length: 113) %>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </main>
      </div>

    <% else %>

      <div class="flex padding-vertical-large">
        <aside class="sidebar">
          <ul>
            <% @users.each do |user| %>
              <%= link_to user_path(user) do %>
                <li class="inactive-sidebar-tab"><%= user.profile.display_name.presence || user.username %>
                <% end %>
            <% end %>
          </ul>
        </aside>

        <main class="video-content">
          <div class="padding-bottom">
            You are not signed in... yet, but here are some awesome videos for you to watch.
          </div>
          <% @videos.each do |video| %>
            <div class="video-border">
              <div class="flex">
                <div class="twenty-four">

                  <%= link_to user_video_path(video.user, video) do %>
                    <img class="thumbnail-image-feed-four" src="<%= video.image_url(:thumb) %>">
                  <% end %>

                </div>

                <div class="seventy-five">

                  <div class="padding-horizontal-mini padding-vertical-mini">
                    <div class="mid-text">
                      <%= link_to truncate(video.title, length: 50), user_video_path(video.user, video) %>
                    </div>

                    <div class="mini-text">
                      <%= video.user.profile.display_name.presence || video.user.username %> posted <%= remove_unwanted_words time_ago_in_words(video.created_at) %> ago
                    </div>

                    <div>
                      <%= truncate(video.description, length: 113) %>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          <% end %>
        </main>
      </div>

    <% end %>

  </div>
</div>