<%= provide(:title, "Updates") %>

<div class="wrapper">
  <div class="container">
    <div class="padding-vertical-large">
      <div class="mid-container">

        <div class="category-image-container link-color">
          <img class="category-thumbnail-image" src="https://i.imgur.com/o9DA68w.jpg">
          <div class="category-image-centered mid-text">
            Updates
          </div>
        </div>

      </div>
    </div>

    <div class="padding-bottom-large">

      <div class="static-page-container">

        <div class="padding-bottom mid-text">
          11.29.2018
        </div>

        <div class="padding-vertical">
          - Updated the design of the User page.
          - Updated the design of the Video page.
        </div>

        <div class="padding-vertical mid-text">
          11.27.2018
        </div>

        <div class="padding-vertical">
          - Added the ability to Save videos.
          - A Save button appears underneath the view count on Video pages.
          - You can access your saved videos from your own page's sidebar.
          - Saved videos are private. You are the only person who can access your saved videos.
        </div>

        <div class="padding-vertical mid-text">
          11.24.2018
        </div>

        <div class="padding-vertical">
          - Updated designs where videos were displayed.
          - Updated the home page design.
        </div>

        <div class="padding-vertical mid-text">
          11.20.2018
        </div>

        <div class="padding-vertical">
          - Fixed some spacing issues.
          - Fixed an error when selecting files caused the wrong file name to appear.
        </div>

        <div class="padding-vertical mid-text">
          11.15.2018
        </div>

        <div class="padding-vertical">
          - Category pages got yet another face-lift!
        </div>

        <div class="padding-vertical mid-text">
          11.8.2018
        </div>

        <div class="padding-vertical">
          - A <%= link_to "Gaming", "https://www.teatree.tv/categories/gaming" %> category has been created!
        </div>

        <div class="padding-vertical mid-text">
          11.3.2018
        </div>

        <div class="padding-vertical">
          - Category and subcategory pages got a face-lift. They now look 100 times better!
        </div>

        <div class="padding-vertical mid-text">
          10.31.2018
        </div>

        <div class="padding-vertical">
          - A <%= link_to "Sports", "https://www.teatree.tv/categories/sports" %> category has been created!
        </div>

        <div class="padding-vertical mid-text">
          10.26.2018
        </div>

        <div class="padding-vertical">
          - A <%= link_to "Music", "https://www.teatree.tv/categories/music" %> category has been created!
        </div>

        <div class="padding-vertical mid-text">
          10.19.2018
        </div>

        <div class="padding-vertical">
          - Tea Tree has been launched at <%= link_to "teatree.tv", root_url %>!
        </div>

      </div>
    </div>
  </div>
</div>