<%= provide(:title, "About " + sanitize(@user.profile.display_name.presence || @user.username)) %>

<div class="wrapper">
  <div class="container">

    <%= render 'users/partials/nameplate' %>

    <div class="flex padding-bottom-large">
      <aside class="sidebar">
        <ul>
          <%= link_to user_path(@user), class: "link-black" do %>
            <li class="inactive-sidebar-tab">Videos</li>
          <% end %>
          <%= link_to user_about_path(@user), class: "link-color" do %>
            <li class="active-sidebar-tab">Description</li>
          <% end %>
          <%= link_to user_subscriptions_path(@user), class: "link-black" do %>
            <li class="inactive-sidebar-tab">Subscriptions</li>
          <% end %>
        </ul>
      </aside>

      <main class="content">
        <div class="padding-bottom best">
          <%= sanitize(@user.profile.biography) %>
        </div>
        <div class="padding-bottom best">
          <span class="bold">USER SINCE:</span> <%= @user.created_at.strftime("%m.%d.%Y") %>
        </div>
      </main>
    </div>

  </div>
</div>