<%= provide(:title, sanitize(@user.profile.display_name.presence || @user.username)) %>

<%= render 'users/partials/user_twitter_cards' %>

<div class="wrapper">
  <div class="container">

    <%= render 'users/partials/nameplate' %>

    <% if @user.videos.any? %>
      <div class="padding-bottom-large">
        <div class="sixty video-border">
          <video class="video-player-main" width="100%" height="auto" controls controlslist="nodownload">
            <source src="<%= @user.videos.last.video_url %>">
            Your browser does not support this video.
          </video>
          <div class="padding-horizontal padding-vertical mid-text">
            <%= link_to @user.videos.last.title, user_video_path(@user, @user.videos.last) %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="flex padding-bottom-large">
      <aside class="sidebar">
        <ul>
          <%= link_to user_path(@user), class: "link-color" do %>
            <li class="active-sidebar-tab">Videos</li>
          <% end %>
          <%= link_to user_about_path(@user), class: "link-black" do %>
            <li class="inactive-sidebar-tab">Description</li>
          <% end %>
          <%= link_to user_subscriptions_path(@user), class: "link-black" do %>
            <li class="inactive-sidebar-tab">Subscriptions</li>
          <% end %>
          <% if user_signed_in? && @user == current_user && @user.saves.any? %>
            <%= link_to user_saves_path(@user), class: "link-black" do %>
              <li class="inactive-sidebar-tab">Saves</li>
            <% end %>
          <% end %>
        </ul>
      </aside>

      <main class="video-content">
        <% if @videos.any? %>
          <% @videos.newest.each do |video| %>
            <div class="video-border">
              <div class="flex">
                <div class="twenty-four">

                  <%= link_to user_video_path(@user, video) do %>
                    <img class="thumbnail-image-feed-four" src="<%= video.image_url(:thumb) %>">
                  <% end %>

                </div>

                <div class="seventy-five">

                  <div class="padding-horizontal-mini padding-vertical-mini">
                    <div class="mid-text">
                      <%= link_to truncate(video.title, length: 50), user_video_path(@user, video) %>
                    </div>

                    <div class="mini-text">
                      <%= @user.profile.display_name.presence || @user.username %> posted <%= remove_unwanted_words time_ago_in_words(video.created_at) %> ago
                    </div>

                    <div>
                      <%= truncate(video.description, length: 113) %>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          <% end %>

          <%= paginate @videos %>
          
        <% else %>
          There are no videos... yet. <%= link_to "Add one?", new_user_video_path(current_user) if @user == current_user %>
        <% end %>
      </main>
    </div>

  </div>
</div>

<% if user_signed_in? && current_user.id == @owner.id %>
  <%= form_for(@user, url: user_path(@user), html: { method: :put }) do |f| %>
    <div class="flex">
      <div class="field-two-column">
        <label class="inactive-paid-tab" id="first-email-tab" for="first-email-inactive">Banned?</label>
        <%= f.check_box(:banned, id: "first-email-inactive") %>
      </div>
      <div class="field-two-column">
        <label class="inactive-paid-tab" id="second-email-tab" for="second-email-inactive">Verified?</label>
        <%= f.check_box(:verified, id: "second-email-inactive") %>
      </div>
    </div>
    <%= f.submit "Update", class: "submit-button" %>
  <% end %>

<% end %>