<%= provide(:title, "Resend Unlock Instructions") %>

<div class="wrapper">
  <div class="container">
    <div class="form-container padding-vertical-large">

      <div class="mid-text padding-bottom-large center">
        Resend unlock instructions
      </div>

      <div class="padding-bottom">
        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autocomplete: "email", class: "text-field" %>
          </div>

          <div class="padding-bottom">
            <%= f.submit "Resend unlock instructions", class: "submit-button" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>