<%= provide(:title, "Change Your Password") %>

<div class="wrapper">
  <div class="container">
    <div class="form-container padding-vertical">

      <div class="mid-text padding-bottom-large center">
        Change your password
      </div>

      <div class="padding-bottom form-border">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <%= f.label :password, "New password" %> <span class="dark mini-text"><%= @minimum_password_length.to_s + " characters minimum." if @minimum_password_length %></span>
            <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "Confirm new password" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "text-field" %>
          </div>

          <div class="">
            <%= f.submit "Change my password", class: "submit-button" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>